.arial-font {
  font-family: "Arial", sans-serif;
}
.verdana-font {
  font-family: Verdana, Geneva, sans-serif;
}
.times-font {
  font-family: "Times New Roman", Times, serif;
}
.sans-serif-font {
  font-family: sans-serif;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
}

.artifika-font {
  font-family: "Artifika", sans-serif;
}

.Tenor-font {
  font-family: "Tenor Sans", sans-serif;
}

.Montserrat-font {
  font-family: "Montserrat", sans-serif;
}

.small-font {
  font-size: 14px;
}
.medium-font {
  font-size: 16px;
}
.large-font {
  font-size: 18px;
}

/* ------------------------- Common Layout elements --------------------------*/

/* ------------------------ Background --------------------------*/

body {
  background-image: url("../Assets/lemons_and_olives_huge.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ------------------------- Header ----------------------------*/
.header-bar {
  width: 100%;
  background: linear-gradient(to left, #fffafa, #fad0c4);
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.navbar a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: rgb(31, 15, 31);
  text-decoration: none;
  padding: 10px 80px;
  border: 1px solid transparent; 
}

.navbar a:hover {
  border-color: black; 
}

/* -------------------------Product widgets ----------------------*/

.Product-description {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 200;
  width: 100%;
  display: block;
  margin: 0;
  padding: 10px 0;
}

.product-widget {
  width: 300px;
  height: 600px;
  perspective: 1000px;
  margin: 100px;
}

.product-widget-front img,
.product-widget-back img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-widget-front,
.product-widget-back {
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
  border: 1px solid whitesmoke;
}

.product-widget-front {
  cursor: pointer;
}

.click-instruction {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.product-widget-back {
  transform: rotateY(180deg);
  background: black;
  color: white;
}

.product-widget.flipped .product-widget-front {
  transform: rotateY(180deg);
}

.product-widget.flipped .product-widget-back {
  transform: rotateY(0deg);
}

/*---------------------------Buttons--------------------------*/
button {
  background-color: whitesmoke;
  color: black;
  padding: 5px 5px;
  border: none;
   border-radius: 5px;
  cursor: pointer;
}

/*-----------------------Like Buttons --------------------------*/
.like-button {
  background-color: whitesmoke;
  color: black;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
}

.liked-button {
    background-color: gold; 
    color: white; 
    border: none; 
}

/*---------------------------Testimonials---------------------*/

.testimonial-container {
  width: 600px;
  height: 400px;
  margin: 75px auto;
  border-width: 1px;
  border-style: solid;
  border-color: whitesmoke;
  background-color: white;
  border-radius: 10px;
}

/* --------------------------- Footer ----------------------*/

.footer_bar {
  width: 100%;
  background: linear-gradient(to left, #fffafa, #fad0c4);
  overflow: hidden;
}

.navlink {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.navlink a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  color: black;
  text-decoration: none;
}

/* ------------------------ Page specific Layout elements ------------------------*/

/* ------------------------ Home Page -------------------------- */

.home-page-welcome-paragraph {
  margin-top: 100px;
}

.welcome_paragraph {
  padding: 50px;
  margin-bottom: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: whitesmoke;
  background: linear-gradient(to right, #faf2f2, white);
  border-radius: 10px;
}

#welcome1_1,
#welcome1_3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 200;
  line-height: 1.8;
  color: black;
}

#welcome1_2 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
  line-height: 2;
  color: black;
}

.Coffee-health-benefits {
  padding: 50px;
  margin-bottom: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: whitesmoke;
  background: linear-gradient(to right, #faf2f2, white);
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  color: black;
}

.Nuts-health-benefits {
  padding: 50px;
  margin-bottom: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: whitesmoke;
  background-color: white;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  color: black;
}

.Dried-fruits-health-benefits {
  padding: 50px;
  margin-bottom: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: whitesmoke;
  background: linear-gradient(to left, #faf2f2, white);
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  color: black;
}

/*------------------------ Contact Page --------------------------*/

.contact-center {
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: whitesmoke;
  background: linear-gradient(to right, #faf2f2, white);
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  color: black;
}

.contact-form {
  margin-top: 30px;
}

.product-suggestions-form {
  margin-top: 30px;
}

/*------------------------------ Privacy Policy page ----------------------*/

.pp-container {
  width: 1650px;
  height: 400px;
  margin: 100px;
}

.privacy-policy {
  padding: 50px;
  margin-bottom: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: whitesmoke;
  background: linear-gradient(to right, #faf2f2, white);
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  color: black;
}

.pp-list {
  text-align: left;
}

/*--------------------------------Wish list page------------------------------------*/
.WL_container {
  width: 1650px;
  height: 400px;
  margin: 100px;
  justify-content: center;
  display: flex;
}

#wishList {
  padding: 50px;
  margin-top: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: whitesmoke;
  background: linear-gradient(to right, #faf2f2, white);
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  color: black;
}
